@page "/dashboard"
@model DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    @if (Model.CurrentUser?.FirstName is null)
    {
        <h1 class="display-4">Welcome!</h1>
    }
    else
    {
        <h1 class="display-4">Welcome @Model.CurrentUser.FirstName!</h1>
    }
</div>
