@page
@model DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-page-handler="logout" method="post">
        <button class="btn btn-default">Logout</button>
    </form>
</div>
