@page "/dashboard"
@model DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}

<!--suppress CommaExpressionJS, BadExpressionStatementJS -->
<div class="container-fluid col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 rounded-3 border shadow-lg">
        <div class="col-10 col-sm-8 col-lg-6">
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              @* ReSharper disable once ScriptTagHasBothSrcAndContentAttributes *@
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                {
                  "symbol": "FX:GBPUSD",
                  "width": "100%",
                  "height": "100%",
                  "locale": "en",
                  "dateRange": "12M",
                  "colorTheme": "light",
                  "isTransparent": true,
                  "autosize": true,
                  "largeChartUrl": ""
                }
              </script>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-center">
                @if (string.IsNullOrEmpty(Model.CurrentUser?.FirstName))
                {
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome!</h1>
                }
                else
                {
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome @Model.CurrentUser.FirstName!</h1>
                }
            </div>
            <p class="lead">Choose 'Get Projection' below to choose how your money should be invested and receive a projection of its value in 10 years time. 'View Results' to review previous projections you have requested.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <form method="POST"><button class="btn btn-primary btn-lg px-4 me-md-2" asp-page-handler="Projection" type="submit">Get Projection</button></form>
                <form method="POST"><button class="btn btn-outline-secondary btn-lg px-4" asp-page-handler="Results" type="submit">View Results</button></form>
            </div>
        </div>
    </div>
</div>
