@page "/login"
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid text-center d-flex flex-nowrap" style="width: 30%; height:100vh;">
    <div class="form-signin w-100 m-auto">
        <form method="POST">
            <h1 class="h3 mb-3 fw-normal">Please sign-in</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="Email" name="Email" placeholder="" value="@Model.Form.Email">
                <label for="Email">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="Password" name="Password" placeholder="" value="@Model.Form.Password">
                <label for="Password">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" id="RememberMe" name="RememberMe" value="@Model.Form.RememberMe"> Remember me
                </label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <hr class="my-4">
            <p><small class="text-muted">Don't have an account?</small></p>
            <form method="POST"><button class="btn btn-link btn-sm" asp-page-handler="Switch" type="submit">Click here to sign-up.</button></form>
        </form>
    </div>
</div>
