@page
@model PrivacyModel

@{
    ViewData["Title"] = "Privacy Policy";
}

@section Header {
    @await Html.PartialAsync("_Navigation", Model.NavigationModel);
}

@section Footer {
    @await Html.PartialAsync("_Footer", Model.FooterModel);
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
