@page "/results"
@using Microsoft.AspNetCore.Html
@using Application.Models
@using Microsoft.VisualBasic
@model Application.Pages.Results

@{
    ViewData["Title"] = "Results";

    IHtmlContent RenderResult(Result result)
    {
        var results =
            $"<div class=\"list-group-item\">" +
            "    <div class=\"d-flex w-100 justify-content-between\">" +
            "        <h5><b>Projection Result</b></h5>" +
            $"        <small>{result.ProjectionDate.ToShortDateString()}, {result.ProjectionDate.ToShortTimeString()}</small>" +
            "    </div>" +
            "    <table class=\"table\">" +
            "        <tr>" +
            "            <th>Investment</th>" +
            "            <th>Projected Value</th>" +
            "            <th>Remove?</th>" +
            "        </tr>" +
            "        <tr>" +
            $"           <td>{Strings.FormatCurrency(result.TotalInvestment)}</td>" +
            $"           <td>{Strings.FormatCurrency(result.ProjectedValue)}</td>" +
            $"           <td><button class=\"w-10 btn btn-sm btn-danger\" onclick=\"deleteResultClickHandler(this.value)\" value=\"{result.Id.ToString()}\">X</button></td>" +
            "        </tr>" +
            "    </table>" +
            $"    <small {IsActive(result.Id)}>{result.Id}</small>" +
            "</div>";

        return Html.Raw(results);
    }

    string IsActive(Guid id)
    {
        return Model.UserResult != id
            ? "class=\"text-muted\""
            : "";
    }
}

<div class="container-fluid col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-left g-0 py-0 rounded-3 border shadow-lg">
        @if (Model.UserResults.Count is not 0)
        {
            <div class="list-group">
                <form method="POST" id="ResultForm">
                    <input type="hidden" id="DeleteResultId" name="DeleteResultId" value=""/>
                    @foreach (var result in Model.UserResults)
                    {
                        @RenderResult(result)
                    }
                </form>
            </div>
        }
    </div>
</div>

<script>
    function deleteResultClickHandler(resultId)
    {
        document.getElementById('DeleteResultId').value = resultId;
        document.getElementById('ResultForm').submit();
    }
</script>
